extends ../../assets/blocks/layout/layout
block styles
  link(rel="stylesheet", href="assets/styles/styles.css")
block content
  include ../../assets/blocks/catalog/catalog
block script
  script(src="assets/js/catalog.bundle.js")