.catalog
  &__content
    padding: 10px 0
    display: grid
    grid-template-columns: 3fr 1fr
    grid-gap: 10px

  &__list
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-gap: 10px
  
  &__filter
    padding: 30px 28px
    background: #ffffff

  &__filter-button
    width: 100%
    justify-content: center
    font-weight: 300
    margin-bottom: 10px

    &:last-child
      margin-bottom: 0

  &__product