section.catalog
  .catalog__container.container
    .catalog__list
      .catalog__product.product
        p.product__article
        .product__image
          img(src="assets/images/products/img-1.png", alt="Canon PowerShot SX400 IS с улучшенной матрицей и объективом")
        p.product__status.product__status_available В наличии
        p.product__title Canon PowerShot SX400 IS с улучшенной матрицей и объективом
        .product__params-list
          .product__param
            p.product__param
              span.product__param-label Физический размер
            | 23.2 x 15.2 мм
            p.product__param
              span.product__param-label Диафрагма
            | CMOS
            p.product__param
              span.product__param-label Формат записи
            | RAW, JPEG, MP4 и другие
          p.product__param
            span.product__param-label Фокусное расстояние 
            | 18-55 мм.
        .product__footer
          .product__button.button.button_theme_blue
            i.button__icon
            p.button__text Купить
          .product__controls
            i.product__fav
            i.product__comp
            