include ../product/product

section.catalog
  .catalog__container.container
    .catalog__content
      .catalog__list
        - for(var i = 0; i < 3; i++)
          +product(products, "catalog__product")
      aside.catalog__filter
        button.catalog__button.catalog__button_apply.button.button_theme_blue Показать результат
        button.catalog__button.catalog__button_apply.button.button_theme_blue Очистить фильтр