.product
  padding-top: 20px
  padding-bottom: 31px
  background: white
  height: 590px
  box-sizing: border-box
  display: flex
  flex-direction: column
  
  &__article
    +font(400, 11.8px)
    color: $grey
    text-align: right
    padding: 0 15.7px
    margin-bottom: 15px

  &__description
    padding-left: 23px
    padding-right: 50px
    height: 100%
    box-sizing: border-box
    display: flex
    flex-direction: column
  
  &__image
    width: 280px
    height: 200px
    margin: 0 auto
    text-align: center
    margin-bottom: 21px

    &-source
      width: 100%
      height: 100%
      object-fit: contain
  
  &__status
    +font(300, 13px)
    display: flex
    align-items: center
    margin-bottom: 5px

    &::before
      content: ""
      display: block
      margin-right: 6.8px

    &_available
      color: #81c03d

      &::before
        width: 12px
        height: 10px
        +background("icons/status/available.svg")
        background-size: contain
  
  &__title
    +font(400, 18px)
    color: #262626
    margin-bottom: 17px
  
  &__param, &__param-label
    +font(300, 12px)
    line-height: 22px
    color: #4f4f4f

  &__param-label
    color: #9b9b9b
  
  &__footer
    margin-top: auto
    padding-left: 23px
    padding-right: 19px
    display: flex
    justify-content: space-between
    flex-shrink: 0
  
  &__button
    width: 101px
    justify-content: center

    .button__icon
      margin-right: 10px
  
  &__controls
    display: flex
    align-items: center

  &__fav
    width: 19px
    height: 17px
    +background("icons/fav.svg")
    background-size: contain
    display: block
    margin-right: 10.5px
    cursor: pointer
  
  &__comp
    width: 26px
    height: 26px
    +background("icons/scales.png")
    background-size: contain
    display: block
    cursor: pointer